POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=base_go
POSTGRES_PORT=5432
DB_MAX_RETRIES=5
DB_RETRY_DELAY=2s

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=resume-views

REDIS_ADDR=localhost:6379
